# Function
---
Grouping a chunck of togather for re-useability

# predefined ---set of rules



### syntax
- def function_name(arguments):
-    FunctionBody
- user def & pre defined----childs

## Sub Childs
- argumentrs /parameters /positionals ../default func
- function  declaration ,body, calling!
- doodh cheeni patti= parameters
- chaye bnao--ab execute krna--= Arguments---larka /larki
- optional arguments
- required arg

## RECURSIVE FUNCTIONS
- infinite pics reflection
- khud apni body mn hi call kry apny apko
- 

## Generater Function
- e.g Range
- Doesn't allocate new memory
- generates different types of data on the fly based on the previous function call
- LAST MEMORY KO YAAD RAKHTA HAI

## Lambda function
- Function does not hv name
- Manually be called 1 time
- 1 line func
- within a line
- 
- key value r positional value sy pas kr sakty

## returned Function
- jo kuch return kry some kind of data

In [23]:
string = "1 2 3 4"
print(string.split())
print(list(map(int, string.split())))
print(list(map(float, string.split())))
print(list(map(list, string.split())))
print(list(map(lambda i: int(i), string.split())))

['1', '2', '3', '4']
[1, 2, 3, 4]
[1.0, 2.0, 3.0, 4.0]
[['1'], ['2'], ['3'], ['4']]
[1, 2, 3, 4]

In [24]:
def square(a):
    return a * a

l1 = [1, 2, 3, 4]
print(list(map(square, l1)))

def reducer(func, _list):
    temp = list()
    for val in _list:
        if (func(val) != None):
            temp.append(func(val))
    return temp

def even(a):
    if a % 2 == 0:
        return a

print(list(reducer(even, l1)))

[1, 4, 9, 16]
[2, 4]

# User Defined
---

In [25]:
# Linear programming print 3 lines 3 times
print("Line 1")
print("Line 2")
print("Line 3")

print("Line 1")
print("Line 2")
print("Line 3")

print("Line 1")
print("Line 2")
print("Line 3")

Line 1
Line 2
Line 3
Line 1
Line 2
Line 3
Line 1
Line 2
Line 3

In [27]:
# Functional programming to print 3 lines 3 times

def print_3_lines():  #Function declaration
    print("Line 1")   # Body start statement 1
    print("Line 2")    #statement 2
    print("Line 3")    #statement 3
    
print_3_lines()
print_3_lines()
print_3_lines()

Line 1
Line 2
Line 3
Line 1
Line 2
Line 3
Line 1
Line 2
Line 3
Line 1
Line 2
Line 3

# Dynamic Function
---
- Arguments valy

In [35]:
def id_card(sid, sname, fname, course, timing):
    print(f"""
    PIAIC ISLAMABAD
    Student Id : {sid}
    Name : {sname}
    FName : {fname}
    course : {course}
    timing : {timing}
    """)
    
id_card(1,"Waqar", "Arshad", "AI", "12:15 to 3:15")
id_card(1,"Farhan", "Farhan", "Haseeb", "Salman")
id_card(1,"Haseeb", "Arshad", "Haseeb", "Salman")

    PIAIC ISLAMABAD
    Student Id : 1
    Name : Waqar
    FName : Arshad
    course : AI
    timing : 12:15 to 3:15


    PIAIC ISLAMABAD
    Student Id : 1
    Name : Farhan
    FName : Farhan
    course : Haseeb
    timing : Salman


    PIAIC ISLAMABAD
    Student Id : 1
    Name : Haseeb
    FName : Arshad
    course : Haseeb
    timing : Salman

# Optional Arguments
---

In [37]:
def pls(x, y= 0, z=0):
    print(x,y,z)
    print(x+y+z)
pls(5)

5 0 0
5

In [38]:
pls(6,7)
pls(8,5,9)
pls()

#required arguments miss ni krny mara

6 7 0
13
8 5 9
22

TypeError: pls() missing 1 required positional argument: 'x'

# Non Return functionms
---

In [39]:
a = print ("Pak")

print(a)

Pak
None

In [40]:
b = pls(5,7,9)
print(b)

5 7 9
21
None

# return functions
---

In [41]:
def pls(x=0, y=0, z=0):
    return x+y+z #ALWAYS RETURN 1ST STATEMENT
    return x*y*z
    return x+y*z

a= pls(7,8)
b= pls(8,4,3)

print(a,b)

15 15

In [43]:
def pls(x=0, y=0, z=0):
    return x+y+z ,x*y*z,  x+y*z

#MULTIPLE RETURNS KO PACK KRKY TUPLE RETURN KRTA HAI CHAHCHAAA

a= pls(7,8)
b= pls(8,4,3)

print(a,b)

(15, 0, 7) (15, 96, 20)

# KEYWORD ARGUMENTS
---

In [45]:
def id_card(sid, sname, fname,  course, timing):
    print(f"""
    PIAIC ISLAMABAD
    Student Id : {sid}
    Name : {sname}
    FName : {fname}
    course : {course}
    timing : {timing}
    """)
    
id_card(sid=1,sname="Waqar",fname= "Arshad", course ="AI",timing ="12:15 to 3:15")

    PIAIC ISLAMABAD
    Student Id : 1
    Name : Waqar
    FName : Arshad
    course : AI
    timing : 12:15 to 3:15

In [46]:
def id_card(sid, sname, fname,  course, timing):
    print(f"""
    PIAIC ISLAMABAD
    Student Id : {sid}
    Name : {sname}
    FName : {fname}
    course : {course}
    timing : {timing}
    """)
    
id_card(1,sname="Waqar",fname= "Arshad", course ="AI","12:15 to 3:15")

SyntaxError: positional argument follows keyword argument (<ipython-input-46-a116438f228b>, line 11)

# Pass Argument by list
---

In [47]:
def id_card(sid, sname, fname,  course, timing):
    print(f"""
    PIAIC ISLAMABAD
    Student Id : {sid}
    Name : {sname}
    FName : {fname}
    course : {course}
    timing : {timing}
    """)
# List Functionalk arg k ,liye r dictionary keyword k liye    
l1 = [8, "A", "B", "C", "D"]
l1 = [81, "A1", "B1", "C1", "D1"]

id_card(l1[0],l1[1],l1[2],l1[3],l1[4])

    PIAIC ISLAMABAD
    Student Id : 81
    Name : A1
    FName : B1
    course : C1
    timing : D1

In [51]:
def id_card(sid, sname, fname,  course, timing):
    print(f"""
    PIAIC ISLAMABAD
    Student Id : {sid}
    Name : {sname}
    FName : {fname}
    course : {course}
    timing : {timing}
    """)
# List Functionalk arg k ,liye r dictionary keyword k liye    
l1 = [8, "A", "B", "C", "D"]
l1 = [81, "A1", "B1", "C1", "D1"]

id_card(l1[0],l1[1],l1[2],l1[3],l1[4])
id_card(*l1)
print(*l1)
print(*l1)

    PIAIC ISLAMABAD
    Student Id : 81
    Name : A1
    FName : B1
    course : C1
    timing : D1


    PIAIC ISLAMABAD
    Student Id : 81
    Name : A1
    FName : B1
    course : C1
    timing : D1

81 A1 B1 C1 D1
81 A1 B1 C1 D1

In [53]:
def id_card(sid, sname, fname,  course, timing):
    print(f"""
    PIAIC ISLAMABAD
    Student Id : {sid}
    Name : {sname}
    FName : {fname}
    course : {course}
    timing : {timing}
    """)
# List Functionalk arg k ,liye r dictionary keyword k liye    
l1 = [8, "A", "B", "C", "D"]
l1 = [81, "A1", "B1", "C1", "D1"]

id_card(l1[0],l1[1],l1[2],l1[3],l1[4])
id_card(*l1)
#print(**l1)
#print(**l1) 

#** means key value---- dictionary ko Un-Pack

    PIAIC ISLAMABAD
    Student Id : 81
    Name : A1
    FName : B1
    course : C1
    timing : D1


    PIAIC ISLAMABAD
    Student Id : 81
    Name : A1
    FName : B1
    course : C1
    timing : D1

# OPTIONAL PARAMETERS WITH LIST
---

In [54]:
def abc(n, *n):
    print(n)
    print(*n)
    
abc("Waqar",1,2,3,4,5)

SyntaxError: duplicate argument 'n' in function definition (<ipython-input-54-421596aa5631>, line 4)

In [57]:
def abc(n, *num):
    print(n)
    print(*n)
    print(sum(num))
    
abc("Waqar",1,2,3,4,5)

Waqar
W a q a r
15

# Tuple vala rehta haii

# OPTIONAL PARANMETERS WITH DICTIONARY

In [59]:
def abc(n, **KV):
    print(n)
    print(KV)
 #   print(sum(num))
    
abc("Waqar", a="aa", b="bb", c= "cc")

Waqar
{'a': 'aa', 'b': 'bb', 'c': 'cc'}

In [64]:
def abc(n, **kv):
    print(n)
    print(kv)
 #   print(sum(num))
    if "b" in kv.keys():
        print("Pakistan")
    
abc("Waqar", a="aa", b="bb", c= "cc")

Waqar
{'a': 'aa', 'b': 'bb', 'c': 'cc'}
Pakistan

# RECURSION FUNCTION
---

In [65]:
def xyz(n):
    if n==1:
        return 1
    
    return n * xyz (n-1)

xyz(5)

#1*2*3*4*5=120

120

# GENERATOR FUNCTIONS
---

In [74]:
def my_range(n):
    for i in range(2,n+2):
        if(i%5==0 and i%7==0 and i%9==0):
            yield i
        
a = my_range (1500)
print(a)
print(next(a))
print(next(a))
print(next(a))
print(next(a))


list(a)

<generator object my_range at 0x000000E33D170A20>
315
630
945
1260

[]

# LAMBDA FUNCTION
---

In [75]:
def abc(x,y): return x+y

abc(5,6)

11

In [76]:
abc = lambda x,y,z: x+y+z

abc(5,6,9)

20

In [78]:
abc = lambda x,y: x if x > y else y

abc(5, 6)

6

In [84]:
abc = lambda x,y: x if x > y else y

def abc2(x, y):
    if x > y:
        return x
    else:
        return y

print(abc(5, 6))
abc2(5, 6)

6

6

# NEXT CLASS EXCEPTIONAL HANDLING
# BETA JE PARH K ANA