# Dictionary
---
Python data type that has Key value pairs e.g **{"Key": "Value"}**

In [2]:
# List Datatype

#     0    1      2
l1 = [1, 'hi', "Hello"]
#    -3   -2      -1

# get Element list[elementIndex]
l1[2]

'Hello'

## Dictionary datatType

### {key1: value1,
###  key2: value2,
###  key3: value3}

In [6]:
d1 = {"id": 2,
     "name": "hi",
     "course": "Hello"}
d1

{'id': 2, 'name': 'hi', 'course': 'Hello'}

In [13]:
d1 = {} # initialize empty dictionary
d1["id"] = 1
d1["name"] = "farhan"
d1["course"] = "IOT"
d1["course"] = "Artificial Intelligence"

# Python will only consider the last key value pair in case of duplicate
print(d1)

{'id': 1, 'name': 'farhan', 'course': 'Artificial Intelligence'}

In [15]:
d1 = {'id': 1, 'name': 'farhan', 'course': 'Artificial Intelligence'}
print(d1)
d1.clear() # d1 list is cleared
print(d1)

# del(d1) # d1 variable is delted after this line
# print(d1)

{'id': 1, 'name': 'farhan', 'course': 'Artificial Intelligence'}
{}

In [ ]:
d1 = {'id': 1, 'name': 'farhan', 'course': 'Artificial Intelligence'}
d2 = d1.copy()
print(d1)

In [17]:
l1 = ["name", "id", "contact", "DOB", "CNIC"]
d1 = dict.fromkeys(l1)
print(d1)

{'name': None, 'id': None, 'contact': None, 'DOB': None, 'CNIC': None}

In [21]:
l2 = input("Enter keys: ").split(", ")
d2 = dict.fromkeys(l2)
print(d2)

Enter keys: id, name, my, new
{'id': None, 'name': None, 'my': None, 'new': None}

In [32]:
l2 = input("Enter keys: ").split(", ")
d2 = dict.fromkeys(l2)
l3 = input("Enter value: ").split(", ")

for key, value in zip(l2, l3):
    d2[key] = value
    
print(d2)

Enter keys: id, name, course
Enter value: 01, farhan, AI
{'id': '01', 'name': 'farhan', 'course': 'AI'}

In [34]:
keys = input("Enter keys: ").split(", ")
values = input("Enter value: ").split(", ")

d2 = {k:v for (k,v) in zip(keys, values)}
print(d2)

Enter keys: id, name, course
Enter value: 01, farhan, AI
{'id': '01', 'name': 'farhan', 'course': 'AI'}

In [39]:
info = {"id": None, "name": None, "skills": []}
info["id"] = int(input("Enter your id: "))
info["name"] = input("Enter your name: ")
info["skills"] = input("Enter your skill comma seperated: ").split(", ")

print(info)

Enter your id: 01
Enter your name: farhan
Enter your skill comma seperated: C++ programming, AI learner, Web developer
{'id': 1, 'name': 'farhan', 'skills': ['C++ programming', 'AI learner', 'Web developer']}

In [76]:
l1 = [chr(i) for i in range(65, 91)]
l2 = [chr(i) for i in range(97, 123)]
l3 = [chr(i) for i in range(48, 58)]

d = zip(l1, sorted(l2, reverse=True), l3)
list1 = list(d)

# Sorting by tuple column 3
sorted(list1, key=lambda i: i[2], reverse=True)

[('J', 'q', '9'),
 ('I', 'r', '8'),
 ('H', 's', '7'),
 ('G', 't', '6'),
 ('F', 'u', '5'),
 ('E', 'v', '4'),
 ('D', 'w', '3'),
 ('C', 'x', '2'),
 ('B', 'y', '1'),
 ('A', 'z', '0')]

In [71]:
dict1 = {
    "a": 1,
    "c": 2,
    "d": 3,
    "z": 4,
    "g": 7
}
dict2 = {}

# sorting by key
for i in sorted(dict1):
    dict2.update({i: dict1[i]})
    
print(dict1)
print(dict2)

{'a': 1, 'c': 2, 'd': 3, 'z': 4, 'g': 7}
{'a': 1, 'c': 2, 'd': 3, 'g': 7, 'z': 4}

In [77]:
dict1 = {
    "z": 1,
    "c": 2,
    "d": 3,
    "b": 4,
    "g": 7
}

# sorting by value
dict2 = { key: dict1[key] for key in sorted(dict1)}
    
print(dict1)
print(dict2)

{'z': 1, 'c': 2, 'd': 3, 'b': 4, 'g': 7}
{'b': 4, 'c': 2, 'd': 3, 'g': 7, 'z': 1}

In [78]:
dict1 = {
    "a": 1,
    "c": 2,
    "d": 3,
    "z": 4,
    "g": 7
}

# Sorting by value
dict2 = {k:v for k, v in sorted(dict1.items(), key=lambda item: item[1])}
print(dict1)
print(dict2)

{'a': 1, 'c': 2, 'd': 3, 'z': 4, 'g': 7}
{'a': 1, 'c': 2, 'd': 3, 'z': 4, 'g': 7}

In [82]:
def getInfo():
    info = {"id": None, "name": None, "skills": []}
    info["id"] = int(input("Enter your id: "))
    info["name"] = input("Enter your name: ")
    info["skills"] = input("Enter your skill comma seperated: ").split(", ")
    return info

db = []

while True:
    db.append(getInfo())
    if input("Add new data Y/N: ").lower() == "n":
        break

print(db)

Enter your id: 01
Enter your name: farhan
Enter your skill comma seperated: C++, Python
Add new data Y/N: Y
Enter your id: 02
Enter your name: Waqar
Enter your skill comma seperated: HTML, CSS, Python
Add new data Y/N: N
[{'id': 1, 'name': 'farhan', 'skills': ['C++', 'Python']}, {'id': 2, 'name': 'Waqar', 'skills': ['HTML', 'CSS', 'Python']}]