In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
5 + 8 # operator
#operators
    # +, -, *, /, %, **
    # +=, -=, *=, /=, %=
    # <, >, <=, >=, ==

13

In [4]:
#PEMDAS rule is used in python complex equation
5 + 7 - 8 * (2 / 2) + 200

204.0

In [9]:
a = 8
b = 8
print(a)
print(b)
print(id(a))
print(id(b))

8
8
140726334034976
140726334034976

In [11]:
# Integer data type
a = 7
type(a)

int

In [17]:
# Float data type
a = 20.4
type(a)

float

In [18]:
# Boolean data type
a = True
type(a)

bool

In [19]:
# String data type
a = 'a'
type(a)

str

In [22]:
# Concatination and type casting
a = '1'
print(int(a) + 1)

2

In [26]:
# string multiply
a = "Pakistan"
a * 2

'PakistanPakistan'

In [30]:
# index =  0          1        2      3     4     5
names = ['Farhan', 'Waqar', 'Saaad', 100, 200.5, True]
# -index   -6        -5       -4     -3    -2     -1
print(type(names))

<class 'list'>

In [32]:
# index =  0          1        2      3     4     5
names = ('Farhan', 'Waqar', 'Saaad', 100, 200.5, True)
# -index   -6        -5       -4     -3    -2     -1
print(type(names))

<class 'tuple'>

In [34]:
names = {'Farhan','Waqar', 'Waqar', 'Saaad', 100, 200.5, True}
print(type(names))
print(names)

<class 'set'>
{True, 100, 200.5, 'Saaad', 'Waqar', 'Farhan'}

In [37]:
names = {'Farhan','Waqar', 'Waqar', 'Saaad', 100, 200.5, True}

print(names[0])
print(names)

TypeError: 'set' object is not subscriptable

In [36]:
names = {'Farhan','Waqar', 'Waqar', 'Saaad', 100, 200.5, True}
names = list(names)

print(names[0])
print(names)

True
[True, 100, 200.5, 'Saaad', 'Waqar', 'Farhan']

In [40]:
# Values are overridden if they have the same key
dictionary = {
    "Name": "Farhan Mahmood",
    "Father's name": "Mahmood Ahmad",
    "Education: " : {
        "Intermediate": "BISE",
        "Bachelors": "Virtual University"
    }
}

print(dictionary)
print(dictionary['Name'])

{'Name': 'Farhan Mahmood', "Father's name": 'Mahmood Ahmad', 'Education: ': {'Intermediate': 'BISE', 'Bachelors': 'Virtual University'}}
Farhan Mahmood

In [45]:
a = "Muhammad Farhan"
a.upper()
print(a)
dir(a)

Muhammad Farhan

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [53]:
a = "      Muhammad        Farhan mahmood      "
print(len(a))
a = a.lstrip() # Strip extra space from left side
print(len(a))
a = a.rstrip() # Strip extra space from right side
print(len(a))
a = a.title() # Changing case of first letter of all words
print(a)

42
36
30
Muhammad        Farhan Mahmood

In [56]:
a = "      Muhammad        Farhan mahmood      "
b = a.split() # default to spliting after every space if no parameter
print(b)

['Muhammad', 'Farhan', 'mahmood']

In [68]:
a = "A quick brown fox jumps over the lazy dog."
print(a[2:12:3])

qcbw

In [ ]:
# String concatibation

In [71]:
# Multi line string literal
a = "String literal in multiples lines \
line number 2 \
line number 3"
print(a)

String literal in multiples lines line number 2 line number 3